<div class="card data-month">
 <div class="card-body">
  <h2>
   October Data
  </h2>
  <div class="row">
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       9th October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/2hfjp6p7rmk6yfb/AAA9ZsS5_8Vp2AwaqMZOCaaAa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       8th October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/9r8irwbovjh09lc/AAAXLPX27u1Y1JXyG7Byp8Fga?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       7th October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/luqe8j5juajmziy/AAB3aUdLRSc_RhhvV34-0JRDa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       6th October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/kmsnz9ql7vvih5b/AADbH-gnpgppi3CFD8EDAhvWa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       5th October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/8y0ood5kk2aze46/AAAF7TSsXthf9-J1ZgnrEsPla?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       4th October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/r5drasto8e6roby/AAABVCS709o1Ia-sDVRWeXn3a?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       3rd October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/3ndlefjqjeojn7d/AADc3-98wj8PErO2_dCJE1o2a?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       2nd October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/ph4nyvxymr3yd5b/AABvdV04zhM1vkM-fcBl3twIa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       1st October
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/dmzisi00x0q23fu/AABYtIj8zSAYQokLzL1xEPxsa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <!-- DATA CARDS GO HERE -->
   <!-- ghost days keep alignment in check -->
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
  </div>
  <!-- /.row -->
 </div>
 <div class="card-footer">
  <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/73ewfcck4fu8orr/AAC-q22nrXyyHCa1JVWvRq9da?dl=1">
   <img class="svg-inline" src="/icons/save_alt-24px.svg" title="white dl"/>
   Download All
  </a>
 </div>
</div><div class="card data-month">
 <div class="card-body">
  <h2>
   September Data
  </h2>
  <div class="row">
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       30th September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/30wkhsnqjmsw8i4/AAA6ESqBUOaA7FuTd8lpiJiCa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       29th September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/0w5jmg2liglanal/AADIYmwYfEg8-OZ0tx6ISce0a?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       28th September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/gpbskqv3ijoedn9/AADVHKcxG3KlK0BHfkQjj5b8a?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       27th September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/lx057y4s66j4hwz/AADLzN-zcsYtSGAVaBnUCYK5a?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       26th September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/mx3p4kt3lqzpcr5/AABwLPp2kvnyFxOfBdIK5IJna?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       25th September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/nqygw37xjth9gjf/AADMzgvj9mXTnmfJgQXbg7nZa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <div class="col-data-day">
    <div class="card h-100 data-day">
     <div class="card-body">
      <h4 class="card-title">
       1st September
      </h4>
      <p>
       5 Standard Games
      </p>
      <p>
       5 Wild Games
      </p>
      <p>
       0 Legend Games
      </p>
     </div>
     <div class="card-footer">
      <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/xtelnwn8cs9k5mx/AAAgrg__Fp4MxkZSuiJJaMqQa?dl=1">
       Download
      </a>
     </div>
    </div>
   </div>
   <!-- DATA CARDS GO HERE -->
   <!-- ghost days keep alignment in check -->
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
   <ghost-day>
   </ghost-day>
  </div>
  <!-- /.row -->
 </div>
 <div class="card-footer">
  <a class="btn btn-primary btn-sm" href="https://www.dropbox.com/sh/2t906m10ntzr26l/AADSHOg0fPusMXGRYj3TtMsga?dl=1">
   <img class="svg-inline" src="/icons/save_alt-24px.svg" title="white dl"/>
   Download All
  </a>
 </div>
</div>