<div class="card data-month">
    <div class="card-body">
        <h2>[MONTH] Data</h2>
        <div class="row">
            <!-- DATA CARDS GO HERE -->
            <!-- ghost days keep alignment in check -->
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
            <ghost-day></ghost-day>
        </div>
        <!-- /.row -->
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary btn-sm"><img class="svg-inline" src='/icons/save_alt-24px.svg'
                title='white dl' />Download All</a>
    </div>
</div>